<!DOCTYPE html>
<html>
  <head>
    <title>Toto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag webpack_asset_path('vendor.js') %>
  </head>

  <body>
    <div id="app"></div>
    <%= javascript_include_tag webpack_asset_path('user.js') %>
    <%= yield %>
  </body>
</html>
